body { font-family: Verdana; font-size: 0.8em }
code { font-size: 1.2em; font-weight: bold; }

.links { float: right; position: absolute; right: 10px; top: 10px; }

.expressionInput { width: 500px; padding: 3px; border: solid 1px lightgray; }

.result { margin: 10px 10px 20px; }
.result .input { font-style: italic; margin-bottom: 10px; }
.result .content { padding-left: 10px}
.result .cur { color: lightgray; margin-right: 5px }

.expression .label { font-weight:  bold; padding-right: 5px; text-align: right; }
.expression .bin { letter-spacing: 3px; }
.expression .one { color: black }
.expression .zero { color: #848586 }
.expression .result td { border-top: dotted 1px gray; }
.expression { font-size: 1.5em; font-family: monospace }

.help { padding: 10px; background: #e0e0e0; }
.help ul { list-style-type: none; margin: 0; padding: 0;  }

.error { color: maroon; }

#view { padding: 10px}