body { font-family: Verdana; font-size: 0.8em }

.expressionInput { width: 500px; padding: 3px; border: solid 1px lightgray; }

.result { margin: 10px 10px 20px; }
.result .input { font-style: italic; margin-bottom: 10px;
}
.result .content { padding-left: 10px}
.result .cur { color: lightgray; margin-right: 5px }

.expression .label { font-weight:  bold; padding-right: 5px }
.expression .one { color: #6d9ad3 }
.expression .zero { color: #70d351 }
.expression .result td { border-top: dotted 1px gray; }
.expression td { padding: 3px; }
.expression { font-size: 1.2em; }

.error { color: maroon; }

#view { padding: 10px}