body { font-family: Verdana; font-size: 0.8em; padding: 20px 100px 0 100px; margin: 0  }
code { font-size: 1.2em; font-weight: bold; }

.links { float: right; position: absolute; right: 10px; top: 10px; }
.mono { font-family: monospace; font-size: 1.3em }
.expressionInput { width: 500px; padding: 3px; border: solid 1px lightgray; }

.result { margin: 10px 10px 30px; }
.result .input { margin-bottom: 10px; }
.result .content { padding-left: 10px}
.result .cur { color: lightgray; margin-right: 5px; }

.expression .label { font-weight:  bold; padding-right: 5px; text-align: right; }
.expression .bin { letter-spacing: 3px; }
.expression .byte { margin: 0 3px; }
.expression .zero { color: #848586 }
.expression .result td { border-top: dotted 1px gray; }
.expression { font-size: 1.5em; font-family: monospace }

.help { padding: 10px; }
.help ul { list-style-type: none; margin: 0; padding: 0;  }
.help p { margin-top: 0 }

.configPnl .indicator { font-size: 0.7em; background: gray; color: white; padding: 2px 5px; }
.configPnl .on { background: darkblue; }

.error { color: maroon; }

#view { padding: 10px}

/* Light */
.light .one { color: black; }
/* Dark */
.dark { background: black; color: white;}
.dark .expressionInput { background: black; color: white; }
.dark a, .dark a:visited { color: white; }

.light { background: ghostwhite; }