.donate-result-view .copy-button { cursor: pointer; padding: 5px}
.donate-result-view .copy-button svg { margin-right: 5px;}
.donate-result-view .qrcode-container { background: white; display: inline-block; padding: 10px}
.donate-result-view .section {
    margin-top: 20px;
}

.light .donate-result-view .paypal-button { border: solid 1px gray; }

.donate-result-view .paypal-button svg {
    margin: 0 5px;
}