.donate-result-view .copy-button {margin-left: 10px; }
.donate-result-view .qrcode-container { background: white; display: inline-block; padding: 10px}
.donate-result-view .section { margin-top: 20px; }

