body { padding:0; margin:0; height: 100%; overflow: hidden; }
html { height: 100% }

.app-root { 
    font-family: Verdana; 
    font-size: 0.8em; 
    margin: 0; 
    padding: 20px 100px 0 100px; 
    height: 100%; 
    overflow: auto; 
    position: relative;
}

code { font-size: 1.2em; font-weight: bold; }

.icon { margin-right: 5px; vertical-align: middle; }
.header-cmd { color: #c5c5c5 }

.mono { font-family: monospace; font-size: 1.3em }
.expressionInput { 
    padding: 3px; 
    outline: none;
    border: none;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    z-index: 100;
    padding-left: 15px;
    padding-bottom: 5px;
    width: 600px; 
}

.hidden { display: none;}

.result { margin: 10px 10px 30px; }
.result .input { margin-bottom: 10px; }
.result .content { padding-left: 10px}
.result .cur { margin-right: 5px; }

.hashLink { text-decoration: none; margin-left: 5px; visibility: hidden; margin-right: 0; padding: 0; text-decoration: none; }
.hashLink:hover { text-decoration: underline; margin-left: 5px; background: none; }
.result:hover .hashLink { visibility: visible }

.expression .label { font-weight:  bold; padding-right: 5px; text-align: right; }
.expression .bin { letter-spacing: 3px; }
.expression .info { font-size: 0.9em; color: teal; }
.expression .byte { margin: 0 3px; }
.expression-result td { border-top: dotted 1px gray; }
.expression { font-size: 1.5em; font-family: monospace }
.expression .prefix { font-weight: normal; display: none; font-size: 0.9em }
.expression .other { font-size: 0.9em}
.expression .sign { text-align: right}

.flipable { cursor: pointer; opacity: 1 }
.flipable { cursor: pointer; opacity: 1 }
.flipable:hover { opacity: 0.8 }

.hex .prefix { display: inline; }

.indicator { padding: 0px 5px; background: transparent; border: none; cursor: pointer; vertical-align: middle; }
.error { color: maroon; }

.soft { opacity: 0.7 }

.small-text { font-size: 0.8em;}

#view { padding: 10px}

.cur { color: lightgray; }

/* Light */
.light { background: #fafafa; }
.light a, .light a:visited { color: #222; }
.light .one { color: black; }
.light .zero { color: #888; }
.light .indicator { color: #ddd; }
.light .expressionInput { background: #ddd;}
.light .on { color: #121212; }
.light .prefix { color: #888}
.light .other { color: #bbb }
.light .hashLink, .light .hashLink:visited { color: #aaa; }
.light .hashLink:hover { color: #888 }
.light ul.top-links li:hover { background: #ddd }
.light .error { color: #da586d }
.light button.btn { color: black}
.light button.btn:hover { background: #ddd}
.light button.btn:disabled { color: #888; background-color: inherit; }
.light .accent1 { color:rgb(56, 161, 103)}
.light .expressionInput {background: #fafafa; border-bottom: solid 1px rgba(0, 0, 0, 0.5);}

/* Dark */
.dark { background: #121212; color: white;}
.dark .expression { color: white;}
.dark .expressionInput { color: white; background: #555; }
.dark a, .dark a:visited { color: white; }
.dark .indicator { color: #555; }
.dark .on { color: white; }
.dark .zero { color: #999;}
.dark .prefix { color: #999}
.dark  .other { color: #777;}
.dark .hashLink, .dark .hashLink:visited { color: #333 }
.dark .hashLink:hover { color: #999 }
.dark ul.top-links li:hover { background: #333 }
.dark .error { color: #da586d}
.dark button.btn { color: white}
.dark button.btn:hover { background: #333}
.dark button.btn:disabled { color: #999; background-color: inherit; }
.dark .accent1 { color:mediumseagreen}ч
.dark .expressionInput {background: #121212;}

/*
    Midnight Theme
*/
.midnight .header-cmd { color: #85a0ad }
.midnight { background: #2c3e50; color: white }
.midnight .expression { color: white;}
.midnight .expressionInput { background: #85a0ad; color: white;}
.midnight a, .dark a:visited { color: white; }
.midnight .indicator { color: #85a0ad; }
.midnight .on { color: white; }
.midnight .zero { color: #85a0ad;}
.midnight .prefix { color: #85a0ad}
.midnight  .other { color: #9FBAC7;}
.midnight .accent-background { background-color: #3b5268;}
.midnight .hashLink, .dark .hashLink:visited { color: #85a0ad }
.midnight .hashLink:hover { color: #9FBAC7 }
.midnight ul.top-links li:hover { background: #132537 }
.midnight .error { color:#da586d}
.midnight .changelog .item-new .date { font-weight: bold }
.midnight button.btn { color: white}
.midnight button.btn:hover { background: #132537}
.midnight button.btn:disabled { color: #85a0ad; background-color: inherit; }
.midnight .accent1 { color:mediumseagreen}
.midnight .expressionInput {background: #2c3e50;}

button { 
    border: none;
    background: none;
    cursor: pointer;
}

button:focus {outline:0;}

/* Top Links Shrink */
@media (max-width: 800px) {
    .top-links .link-text { display: none }
    .debug-indicators { display: none;}
    .app-root {padding: 10px; }
}

.social-container{ position:fixed; bottom:20px; right:20px }

/* Remove margin space on body. Inline top links with header */
@media (max-width: 700px) {
    /*.expressionInput { width: 450px; }   */
}

/* Further shrink */
@media (max-width: 500px) {
    .expressionInput { width: 400px; }
    .top-links a { display: inline-block; padding: 5px 10px}
}

@media (max-width: 450px) {

    .expressionInput { width: 350px; }
}

.new-ui {
    padding: 0 30px;
}

#output {
    padding: 30px 30px;
}

.input-p {
    display:inline;
    z-index: 101;
    position: absolute;
    margin-right: -10px;
    margin-top: 3px;
    opacity: 0.5;
}

.debug-indicators {
    left: 1px;
    opacity: 0.5;
}